

/* ---------- Responsive For Mobile Devices ---------- */

@media screen and (max-width:576px) {
    
  header {
    height:auto;
    
  }
    nav {
        padding:0;
        background-color:var(--primary-color);
      }
      .nav__logo {
        padding-top: 15px;
        color:#ffffff;
    }
      .nav__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .nav__links ul {
        flex-direction: column;
        justify-content: center;
      }
      .nav__links ul li{
        padding: 10px 0;
      }
      .nav__links ul li a{
        margin-left: 0;
        color:#ffffff;
      }
      .nav__links {
        padding: 20px 0;
    }
    .heading__container {
        padding: 20px; 
      }
      .heading__container h1 {
        font-weight: 700;
        font-size: 44px;
        line-height: 45px;
        text-align: center;
      }
      .banner__container{
        margin: 20px;
    }
    .banner img{
        width: 100%;
    }


    .feature__container{
        padding: 20px;
    }
    .feature__container-flex{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .feature__left{
        width: 100%;
        margin-top: 50px;
    }
    .feature__right{
        width: 100%;
        text-align: center;
    }
    

     .feature__left-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .feature__left-grid img{
        width: 100%;
    }

    /* --------feature facilities start------- */

    .feature-facilities {
        margin: 10px;
        /* height: 1060px; */
        position: relative;
      }


    .facilities__container {
        flex-direction: column;
        gap: 10%;
      }
      .facilities__left {
        width: 100%;
      }
      .facilities__right {
        width: 80%;
        height: 100%;
        margin: 0 auto;
      }
    
      .experience {
        position: absolute;
        background-color: var(--primary-color);
        padding: 42px;
        border-radius: 10px;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #ffffff;
      }
      .experience h2 {
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        line-height: 30px;
      }
    
      .facts__container {
        margin: 50px 10px;
      }
      .facts__heading {
        width: 100%;
      }
      .facts__heading h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
      }
      .facts__container-grid {
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 25px;
      
      }


      .sponsors__container{
        margin: 10px;
    }
    .sponsors__heading{
      text-align: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .sponsors__container-grid{
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
      justify-items: center;
      padding: 0 50px;
      
    }
    .sponsors__container-grid img{
      width: 60%;
      filter: grayscale(1);
      transition: all 0.5s ease-out;
    }

    /* ------------subscribe--------------- */
    .subscribe__container .subscribe__box {
      width: 100% !important;
      margin: 0 auto;
      text-align: center;
      padding: 50px 0;
    }
    .subscribe__box form {
      display: flex;
      background: #fff;
      border-radius: 80px;
      border: 3px solid #10221b;
      padding: 13px;
      width: 90%;
      margin: 0 auto;
    }
    .subscribe__box .heading{
      font-weight: 600;
      font-size: 35px;
      line-height: 33px;
      padding-bottom: 15px;
    }

    /* --------footer--------- */
    .footer__container{
      padding: 20px 0px;
    }
  
    






  }
   
    








/* ---------- Responsive For Tables Devices ---------- */

@media screen and (min-width: 577px) and (max-width: 992px) {

    nav {
        padding:0;
        background-color:var(--primary-color);
      }
      .nav__logo {
        padding-top: 15px;
        color:#ffffff;
    }
      .nav__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .nav__links ul {
        flex-direction: column;
        justify-content: center;
      }
      .nav__links ul li{
        padding: 10px 0;
      }
      .nav__links ul li a{
        margin-left: 0;
        color:#ffffff;
      }
      .nav__links {
        padding: 20px 0;
    }
    
    .heading__container {
        padding: 40px;
        
      }
      .heading__container h1 {
        font-weight: 700;
        font-size: 54px;
        line-height: 45px;
        text-align: center;
      }
      .banner__container{
        margin: 40px;
    }
    .banner img{
        width: 100%;
    }

    .feature__container{
        padding: 20px;
    }
    .feature__container-flex{
        flex-direction:column-reverse;
        gap: 10px;
    }
    
    .feature__left{
        width: 100%;
    }
    .feature__right{
        width: 100%;
    }
    
    .feature__left-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .feature__left-grid img{
        width: 100%;
    }

/* --------feature facilities start------- */
    
    .feature-facilities {
        margin: 20px;
        /* height: 1060px; */
        position: relative;
      }


    .facilities__container {
        flex-direction: column;
        gap: 10%;
      }
      .facilities__left {
        width: 100%;
      }
      .facilities__right {
        width: 70%;
        height: 100%;
        margin: 0 auto;
      }
      .experience {
        position: absolute;
        background-color: var(--primary-color);
        padding: 42px;
        border-radius: 10px;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #ffffff;
      }
      .experience h2 {
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        line-height: 30px;
      }
    

      /* --------feature facilities start------- */

      .facts__container {
        margin: 50px 10px;
      }
      .facts__heading {
        width: 100%;
      }
      .facts__heading h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
      }
      .facts__container-grid {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 25px;
      
      }

      .sponsors__container{
        margin:100px 10px;
    }
    .sponsors__heading{
      text-align: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .sponsors__container-grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
      padding: 0 50px;
      
    }
    .sponsors__container-grid img{
      width: 80%;
      filter: grayscale(1);
      transition: all 0.5s ease-out;
    }

    /* ----------subscribe--------------- */
    .subscribe__container .subscribe__box {
      width: 33% !important;
      margin: 0 auto;
      text-align: center;
      padding: 50px 0;
    }
    .subscribe__box form {
      display: flex;
      background: #fff;
      border-radius: 80px;
      border: 3px solid #10221b;
      padding: 13px;
      /* width: 100%; */
      margin: 0 auto;
      
    }
    /* ----------subscribe--------------- */
    /* ---------footer----------- */
    .footer__container{
      padding: 20px 0px;
    }





}






/* --------- Optional Responsive ---------- */

@media screen and (min-width:993px) and (max-width:1280px) {
    .heading__container {
        padding: 60px;
        
      }
      .heading__container h1 {
        font-weight: 700;
        font-size: 54px;
        line-height: 45px;
        text-align: center;
      }
      .banner__container{
        margin: 60px 150px;
    }
    .banner img{
        width: 100%;
    }

    .feature__container{
        padding: 20px;
    }
    .feature__container-flex{
        flex-direction:column-reverse;
        gap: 10px;
    }
    
    .feature__left{
        width: 100%;
    }
    .feature__right{
        width: 100%;
    }

    .feature__left-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .feature__left-grid img{
        width: 100%;
    }
      
    .feature-facilities {
        margin: 20px;
        /* height: 1060px; */
        position: relative;
      }


    .facilities__container {
        gap: 10%;
      }
      .facilities__left {
        width: 100%;
      }
      .facilities__right {
        width: 100%;
        height: 100%;
      }

      .facts__container {
        margin: 50px 10px;
      }
      .facts__heading {
        width: 100%;
      }
      .facts__heading h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
      }
      .facts__container-grid {
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        gap: 25px;
      
      }

      .sponsors__container{
        margin:100px 10px;
    }
    .sponsors__heading{
      text-align: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .sponsors__container-grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
      padding: 0 50px;
      
    }
    .sponsors__container-grid img{
      width: 80%;
      filter: grayscale(1);
      transition: all 0.5s ease-out;
    }
    
    





}
